:root{

--fs-title-primary:calc(1.2rem + 1vw);
--fs-title-secondary:1.5rem;
--fs-desc-primary:1.25rem;
--fs-desc-secondary:1.12rem;

--clr-primary:orange;
--clr-secondary:#24333a;

--clr-light-100:#fff;
--clr-light-50:#eee;
--clr-light-25:#f6f5fb;
--clr-light-15:#e8e4ff75;

}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-desc-primary);
    overflow-x: hidden;
}

/********************** reset *********************/

p{
    margin-block-start:0;
    margin-block-end:0;
}

a{
    color: inherit;
    text-decoration: none;
}
button{
    cursor: pointer;
    border: 0;
    outline: 0;
}

ul{
    list-style: none;
    margin-block-start:0;
    margin-block-end:0;
    padding-inline-start:0;
}

h1,h2,h3,h4{
    margin-block-start:0;
    margin-block-end:0;
}

picture {
    display: block;
}

/******************* components ****************/

.container{
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
}

.left-container{
    padding-left: 5px;
    padding-right: 5px;
    margin-right: auto;
}

.right-container{
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
}

@media (min-width:767px){
    .left-container{
        margin-left: 25px;
    }
    .right-container{
        margin-right: 25px;
    }
}

@media (min-width:992px){
    
    .container{
        width: calc(100% - 50px);
    }

    .left-container{
        margin-left: 50px;
    }
    .right-container{
        margin-right: 50px;
    }
}

@media (min-width:1400px){
    .container{
        width: calc(100% - 100px);
    }

    .left-container{
        margin-left: 75px;
    }
    .right-container{
        margin-right: 75px;
    }
}

@media (min-width:1600px){
    :root{
        --fs-title-primary:calc(1.6rem + 1vw);
        --fs-desc-primary:1.5rem;
        --fs-desc-secondary:1.25rem;
    }
    .container{
        width: calc(100% - 150px);
    }

    .left-container{
        margin-left:75px;
    }
    .right-container{
        margin-right:75px;
    }
}

@media (min-width:1800px){
    .container{
        width: calc(100% - 200px);
    }

    .left-container{
        margin-left: 100px;
    }
    .right-container{
        margin-right: 100px;
    }
}

@media (min-width:2000px){
    .container{
        width: calc(100% - 250px);
    }

    .left-container{
        margin-left: 125px;
    }
    .right-container{
        margin-right: 125px;
    }
}