:root{

--fs-title-primary:1.3rem;
--fs-title-secondary:1.1rem;
--fs-desc-primary:1rem;
--fs-desc-secondary:.75rem;
--fs-small:.75rem;

--clr-primary:#f58725;
--clr-primary-light:#ffa50038;
--clr-secondary:#24333a;

--clr-light-100:#fff;
--clr-light-50:#eee;
--clr-light-25:#f6f5fb;
--clr-light-15:#e8e4ff75;

}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-desc-primary);
}

/********************** reset *********************/

p{
    margin-block-start:0;
    margin-block-end:0;
}

a{
    color: inherit;
    text-decoration: none;
}
button{
    cursor: pointer;
    border: 0;
    outline: 0;
}

ul{
    list-style: none;
    margin-block-start:0;
    margin-block-end:0;
    padding-inline-start:0;
}

h1,h2,h3,h4{
    margin-block-start:0;
    margin-block-end:0;
}

picture {
    display: block;
}

/******************* components ****************/

.btn-primary:hover{
    color: var(--clr-primary);
    background:var(--clr-light-100) !important;
    outline: 3px solid var(--clr-primary);
}

.container{
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width:767px){
    .container , .frame{
        width: 717px;
        padding-left:0;
        padding-right:0;
    }

}

@media (min-width:992px){
    
    .container , .frame{
        width: 900px;
    }
      
}

@media (min-width:1200px){
    :root{
        --fs-title-primary:2rem;
        --fs-title-secondary:1.2rem;
        --fs-desc-primary:1.12rem;
        --fs-desc-secondary:1rem;
        --fs-small:.75rem;
    }
    .container,.frame{
        width: 1000px
    }

}



@media (min-width:1600px){

    :root{
        --fs-title-primary:2.3rem;
        --fs-title-secondary:1.5rem;
        --fs-desc-primary:1.2rem;
        --fs-desc-secondary:1.1rem;
        --fs-small:1rem;
    }

    .container,.frame{
        width: 1200px
    }    
}

