.features{
    margin: 4rem 0 0;
    padding:0 0.5rem;
    background:var(--clr-light-25);
}

.container--features{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap:3rem 1rem;
    text-align: center;
    padding: 1rem 0;
}

.feature {
    position: relative;
    flex: 1;
    min-width: 125px;
    max-width: 250px;
    height: 250px;
    padding: 2rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 7px solid #fff;
    cursor: pointer;
    transition: all .2s linear;
}

.feature::before{
    content: '';
    position: absolute;
    top: 50%;
    left:0px;
    transform: translateY(-50%);
    height: 20%;
    width: 5px;
    background: var(--clr-primary);
    transition:all 1s linear;
    display:none;
}

.feature::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 20%;
    width: 5px;
    background: var(--clr-primary);
    transition:all 1s linear;
    display:none;
}


.features i {
    font-size:3rem;
    color:#ffa500ab;
}

.features span{
    display: block;
    margin:2.9rem 0 .5rem;
    text-align: center;
    font-size:2rem;
    font-weight: 600;
    color: var(--clr-secondary);
}

.feature span{
    margin:1.5rem 0 .5rem;
}

.feature .icon-container {
    width: 80px;
    height:80px;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: rotatez(132deg);
    border: 1px solid transparent ;
    margin: auto;
    transition: border .3s linear;
}

.feature .icon-container i {
    transform: rotatez(-132deg);
}

.features h3{
    font-size: var(--fs-desc-secondary);
    color: var(--clr-secondary);
}

/* hovers */

.feature:hover{
    background:var(--clr-light-100);
    box-shadow: 0 0 5px 5px #ddd;
}

.feature:hover::before{
    display:inline-block;
}

.feature:hover::after{
    display:inline-block;
}

.feature:hover .icon-container{
    border: 1px solid orange ;
}
