.hero{
    --hero-height:350px;

    position: relative;
    height:var(--hero-height);
}

.hero li:not(.main-aside__heading , .contact-info__right li):hover {
    transform: scale(.9);
    color: #080;
}

/**************** layout *********************/
.hero__layout{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:rgb(36 51 58 / 70%);
    z-index: 2;
}
/********************* header ****************/
header{
    position: relative;
    z-index: 3;
}

/***** header top ******/
.contact-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding:1rem 0 .5rem  4rem;

    color: var(--clr-light-100);
    border-bottom: .5px solid var(--clr-light-50);
}

.contact-info ul{
    display: flex;
    gap: .5rem;
}

.contact-info__left{
    flex: 1;
    display: flex;
    gap:1rem;
    justify-content: space-between;

}

.contact-info__left span{
    color:var(--clr-primary);
}

.contact-info__left a{
    font-size: .85rem;
}

.contact-info__right{
    flex: 2;
    display: none;
}


.contact-info__right ul{
    justify-content: center;
    align-items: center;
    gap:.5rem;
}

.contact-info__left ul li{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    align-items: center;
}   

/**** header bottom *****/

.header__bottom{
    padding-top:.5rem;
}

.header__bottom__container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
    color: var(--clr-light-100);
}

.header__bottom__container > *{
    text-align: center;
}

.header__bottom__logo i{
    color: var(--clr-primary);
    font-size:1.5rem;
    white-space: nowrap;
}

@media (max-width:400px){
    .header__bottom__logo i{
        display: none;
    }

    .header__bottom__logo span::first-letter{
        color: var(--clr-primary);
    }

}

.header__bottom__logo span{
    font-size:1.5rem;
    font-weight:800;
    display: inline-block;
}

.header__bottom__links{
    display: none;
}

.header__bottom__links ul{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap:.75rem;
    font-weight:500;
}

.header__bottom__features{
    display: flex;
    justify-content: center;
    gap:5px;
}

.header__bottom__features button{
    border: none;
    outline: none;
    color: var(--clr-light-100);
    background: transparent;
}

.header__bottom__features button:last-child{
    padding: .5rem 1.5rem;
    border-radius:5px;
    background: var(--clr-primary);
    white-space: nowrap;
}

.header__bottom__features button i {
    color: var(--clr-light-50);
}


.header__bottom__features input{
    display: none;
}

/************************** slider ***************/

.slider{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.slider .slide{
    width: 100%;
    height: 100%;
}

.slider .slide img{
    width: 100%;
    height: var(--hero-height);
    max-height: 100%;
}


.slider__navigations{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-40%);
    width: 100%;
    display: flex;
    justify-content: space-between;  
    z-index: 3;
}

.slider__navigations button{
    background: var(--clr-primary);
    color: var(--clr-light-100);
    padding:.5rem 1rem;
    font-weight: 700; 
}

.slider__navigations button:first-child{
    border-radius: 0 1rem 1rem 0;
    background:#808080a3;
}
.slider__navigations button:last-child{
    border-radius: 1rem 0 0 1rem;
}
.slider__navigations button i {
    font-size: var(--fs-desc-primary);
}

/**************************** hero__intro *************/

.hero__intro{
    min-width:230px;
    max-width:600px;
    padding-bottom: 2rem;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--clr-light-100);
    z-index: 4;
    text-align: center;
}

.hero__intro__entrance{
    margin: 4rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.5rem;
    color: var(--clr-light-50);
}

.hero__intro__entrance i{
    color: var(--clr-primary);
    padding-bottom: 4px;
}

.hero__intro__desc{
    font-size:1.2rem;
    font-weight:600;
    line-height:1.5;
    margin-bottom:1rem;
}

.hero__intro__lorem{
    display: none;
}


.hero__intro button{
    min-width:170px;
    padding:7px;
    font-weight: 600;
    color:var(--clr-light-100);
    background: var(--clr-primary);
    border-radius:2px;
}


/******************************* aside *******************/

.main-aside{
    position: absolute;
    top:0;
    left:-200px;
    width: 200px;
    min-height:calc(var(--hero-height) - 50px);
    padding:1rem;
    background:var(--clr-light-50);
    z-index:15;
    background: var(--clr-primary);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;

    transition: left .3s linear;
}

.main-aside.oppend{
    left: 0;
}

.contacts-btn{
    position: absolute;
    top:.5rem;
    right: -3rem;
    padding: 5px 10px;
    font-size: 1.5rem;
    border: 0.5px solid var(--clr-primary);
    color: var(--clr-primary);
    background: var(--clr-secondary);

}

.main-aside__soical,
.main-aside__roots{
    flex: 1;
    display: flex;
    width: 100%;
}

.main-aside ul{
    min-height: 100%;
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.7rem;
    color: var(--clr-secondary);
    font-weight: 500;
    text-transform: capitalize;
}

.main-aside__heading{
    font-weight: 600;
    color: var(--clr-light-50);
}



/********************************** media **************/

@media (min-width:767px){
    .hero{
        --hero-height:70vh
    }
    .contact-info{
        padding-left: 1rem;
    }

    .contact-info{
        padding-bottom: 1rem;
    }

    .hero__intro{
        width: 80%;
        min-width: 550px;
    }

    .hero__intro__desc{
        font-size: calc(var(--fs-title-primary) + 1vw);
        margin-bottom:2rem;
    }

    .hero__intro__lorem{
        margin-bottom: 1rem;
    }

    /******* bottom ********/

    .header__bottom{
        padding-top:1rem;
    }
}
@media (min-width:992px){

     /******** bottom *******/

     .header__bottom__container{
        flex-direction: row;
        align-items: center;
    }

    .contact-info__right{
        display: block;
    }

    .main-aside{
        display: none;
    }


    .header__bottom__links{
        display: flex;
    }

    .hero__intro__lorem{
        display: block;
    }
}

@media (min-width:1024px){
    .hero{
        --hero-height:100vh;
        font-size: 24px;
    }
}

@media (min-width:1200px){

    .contact-info__left ul li{
        display: flex;
    }

    .hero__intro{
        max-width:650px;
    }

    .hero__intro__desc{
        font-size: calc(var(--fs-title-primary) + 1rem);
    }

    .hero__intro button{
        margin-top: 2rem;
        padding:1.5rem 2rem;
        border-radius: .5rem;
    }

    .slider__navigations button:first-child {
        border-radius: 0 2rem 2rem 0;
    }

    .slider__navigations button:last-child {
        border-radius: 2rem 0 0 2rem;
    }

    .slider__navigations button i{
        font-size: 2.2rem;
    }
}

@media (min-width:1400px){
    .hero__intro{
        max-width:800px;
    }
}


@media (min-width:1600px){

    .hero__intro *:not(.hero__intro__desc){
        font-size:2rem;
    }

    .hero__intro{
        max-width:1250px;
    }

    .hero__intro__desc{
        font-size: 5rem;
    }
}

.hero li{
    transition: transform .3s linear;
}




